@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#app {
    @apply bg-gray-100;
}



@media print {


    html,
    body,
    #app {
        visibility: hidden;
    }

    /* 显示简历页面 */
    #resume-page {
        margin: 0;
        visibility: visible;
    }

    /* 隐藏虚线 */
    #dashed-lines {
        visibility: hidden;
    }
}

